[submodule "Adjutant"]
	path = Adjutant
	url = https://github.com/Gravemind2401/Adjutant
[submodule "System.IO.Endian"]
	path = System.IO.Endian
	url = https://github.com/Gravemind2401/System.IO.Endian
[submodule "System.Drawing.Dds"]
	path = System.Drawing.Dds
	url = https://github.com/Gravemind2401/System.Drawing.Dds
[submodule "Studio"]
	path = Studio
	url = https://github.com/Gravemind2401/Studio
