<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Microsoft Most Rules" Description="This rule set contains most rules." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1709" Action="None" />
  </Rules>
</RuleSet>